@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(242, 255, 197, 1);
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    height: 100vh;
}

img {
    position: absolute;
    height: 100vh;
    right: 0;
    z-index: -1;
}

h1,
footer {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.2rem;
    margin: 2rem;
    min-height: 30vh;
    padding: 1rem;
    width: 90%;
}

button {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
}

footer {
    background: rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    padding: 1rem 5rem;
    text-align: center;
}

footer p {
    margin-top: 1rem;
}

footer div {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer a {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 780px) {
    footer {
        font-size: 0.8rem;
        padding: 1rem;
    }
}